<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <div class="card card-custom card-stretch gutter-b">
        <div class="card-header align-items-center mt-4">
          <h3 class="card-title align-items-start flex-column" style="font-size: 16px; font-weight: bold;">
            {{ title }}
          </h3>
          <div class="card-toolbar"></div>
        </div>
        <div class="conversation_list">
          <div *ngFor="let follow of follows">
            <user-conversation [user_id]="follow.user._id"></user-conversation>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
